<div class="container mt-5">
    <div class="row ">
        <div class="card m-auto col-5">
            <p class="text-center font-weight-bold mt-3">首頁</p>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>